:root {
    --bg-color:#1f242d;
    --second-bg:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}

.light-mode {
    --bg-color:#ffffff;
    --second-bg:#f2f2f2;
    --text-color:#000;
}

body {
    margin:0;
    font-family:Poppins, sans-serif;
    background:var(--bg-color);
    color:var(--text-color);
}

.header {
    position:fixed;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:15px 5%;
    background:var(--bg-color);
}

.navbar a {
    margin:0 10px;
    color:var(--text-color);
    text-decoration:none;
}

#theme-btn {
    cursor:pointer;
    padding:5px 10px;
}

section {
    padding:100px 10%;
}

.heading {
    text-align:center;
}

.grid {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.card {
    background:var(--second-bg);
    padding:20px;
    margin:10px;
    border-radius:10px;
    transition:.3s;
}

.card:hover {
    transform:translateY(-5px);
    box-shadow:0 0 10px var(--main-color);
}

.btn {
    background:var(--main-color);
    padding:10px;
    color:black;
    text-decoration:none;
}

/* animation */
.fade {
    opacity:0;
    transform:translateY(30px);
    transition:.6s;
}

.fade.show {
    opacity:1;
    transform:translateY(0);
}
